@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.background {
  height:150px;
  width:250px;
  float:right;
  margin-top: 0.8%;
  margin-right: 5%;
}
.blog {
  height:300px;
  width:253px;
  margin-top:20%;
  margin-left: 67%;
  text-align: center;
  font-size:18px;
  font-family: 'open-sans',sans-serif;
  font-weight: bolder;
}
#AboutUs {
  position:absolute;
  margin-left: 70%;
  margin-top:17%;
  width:900px;
  height:550px;
  background-color: #eeeeee;
}
h1 {
  text-align: center;
  padding:2%;
  font-size: 60px;
  font-family: "Papyrus";
}
#paragraphs {
  position:absolute;
  left:5%;
  top:1%;
  background-color: rgba(0,0,0,0.2);
  border:1px solid white;
  padding:5%;
  height:547px;
  width:550px;
  font-size: 17px;
  font-family: 'open-sans',sans-serif;
  color:white;
  overflow: auto;
}
.aboutPage {
	margin-top: 8%;
}
.story {
	margin-top: -8%;
	position:absolute;
	font-family: "Papyrus";
	font-size:60px;
}
