@import url(https://fonts.googleapis.com/css?family=Open+Sans);




#AboutClosedText {
/*Leave me here*/
}

#AboutTitleClosed {
  position: absolute;
  height: 100px;
  width: 500px;
  text-align: center;
  line-height: 20px;
  top: 250px;
  left: -185px;
  transform: rotate(-90deg);
  opacity: 1;
  transition: opacity 1s;
}

#AboutTitleOpen {
  position: absolute;
  height: 100px;
  width: 500px;
  text-align: center;
  line-height: 20px;
  top: 250px;
  left: -185px;
  transform: rotate(-90deg);
  opacity: 0;
  transition: opacity 1s;
}

/*------------------------------*/


#AboutUsOutterOpen{
  background-image:url(https://static1.squarespace.com/static/5491eb4de4b0d067555899f5/t/549c42d9e4b045dc15455508/1419526880579/Kosher+_+Supper+_+Kitchensurfing-187.jpg?format=1500w);
  border: 1px solid #000;
  width: 900px;
  height: 550px;
  position: relative;
  transition: width 1s;
}

#AboutUsInnerOpen{
  opacity: 1;
  transition: opacity 1s;

}

#AboutUsOutterClosed {
  background-image:url(https://static1.squarespace.com/static/5491eb4de4b0d067555899f5/t/549c42d9e4b045dc15455508/1419526880579/Kosher+_+Supper+_+Kitchensurfing-187.jpg?format=1500w);
  border: 1px solid #000;
  width: 100px;
  height: 550px;
  position: relative;
  overflow: hidden;
  transition: width 1s;

}

#AboutUsInnerClosed{
  opacity: 0;
  transition: opacity 1s;

}



.background {
  height:150px;
  width:250px;
  float:right;
}
#AboutUs {
  position:absolute;
  margin-left: 70%;
  margin-top: 17%;
  width:100px;
  height:550px;
  background-color: #eeeeee;
}
.AboutUsClosed {
  position: absolute;
  opacity: 0;
}

h1 {
  text-align: center;
  padding:2%;
  font-size: 60px;
  font-family: "Papyrus";
}
#paragraphs {
  position:absolute;
  left:5%;
  top:1%;
  background-color: rgba(0,0,0,0.5);
  border:1px solid white;
  padding:5%;
  height:547px;
  width:550px;
  font-size: 17px;
  font-family: 'open-sans',sans-serif;
  color:white;
  overflow: auto;
}
.aboutPage {
	margin-top: 8%;
}
.story {
	margin-top: -8%;
	position:absolute;
	font-family: "Papyrus";
	font-size:60px;
}
