
@import url(https://fonts.googleapis.com/css?family=Open+Sans)
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great)
@import url(http://weloveiconfonts.com/api/?family=zocial)




#MenuOpen {
  border: 1px solid #000;
  width: 900px;
  height: 550px;
  position: relative;
}

#MenuClosed {
  border: 1px solid #000;
  width: 100px;
  height: 550px;
  overflow: hidden;
}


#MenuBg {

  width: 900px;
  height: 550px;
  position: relative;
  overflow: hidden;
}

#MenuBgImg {

  width: 940px;
  height: 1150px;
  margin-top: -300px;
  margin-left: -30px;
}

#MenuBgImgCvr {

  width: 902px;
  height: 550px;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  background-color: #3D3012;
}


#MenuCont {

  position: absolute;
  top: 60px;
  left: 0px;
  width: 900px;
  height: 540px;
  overflow: auto;

}


#MenuInnerCont {

  margin-top: 10px;
  margin-left: 20px; 
} 





.MenuTitlePriceCont {

  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.MenuTitle {

  width: 600px;
  color: white;
  font-family: 'open-sans',sans-serif;


}

.MenuPrice {

  width: 50px;
  color: white;
  font-family: 'open-sans',sans-serif;

}

.MenuDisc {

  width: 600px;
  color: white;
  font-family: 'open-sans',sans-serif;
  text-indent: 20px;
  margin-left: 20px;


}

.MenuInfo {

  color: white;  
}


.MenuInfoIcon {

  margin-left: 20px;
  margin-bottom: 20px; 
}

.MenuSubSect {

  border: 1px solid #FFF;
  margin-top: 20px;
  margin-bottom: 20px;
}


.MenuSubTitle {

  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-family: 'open-sans',sans-serif;

}