
@import url(https://fonts.googleapis.com/css?family=Open+Sans)
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great)
@import url(http://weloveiconfonts.com/api/?family=zocial)






#MenuClosedText {
/*Leave me here*/
}

#MenuTitleClosed {
  position: absolute;
  height: 100px;
  width: 500px;
  text-align: center;
  line-height: 20px;
  top: 250px;
  left: -185px;
  transform: rotate(-90deg);
  opacity: 1;
  transition: opacity 1s;
}

#MenuTitleOpen {
  position: absolute;
  height: 100px;
  width: 500px;
  text-align: center;
  line-height: 20px;
  top: 250px;
  left: -185px;
  transform: rotate(-90deg);
  opacity: 0;
  transition: opacity 1s;
}

/*------------------------------*/

#MenuInnerOpen {
  opacity: 1;
  transition: opacity 1s;
}

#MenuOutterOpen {

  border: 1px solid #000;
  width: 900px;
  height: 550px;
  position: relative;
  transition: width 1s;
}


#MenuInnerClosed {
  opacity: 0;
  transition: opacity 1s;

}

#MenuOutterClosed {

  border: 1px solid #000;
  width: 100px;
  height: 550px;
  position: relative;
  overflow: hidden;
  transition: width 1s;
}

#MenuClosed {
  border: 1px solid #000;
  width: 100px;
  height: 550px;
  overflow: hidden;
}

#MenuBg:hover {
  cursor: pointer;  
}
#MenuBg {

  width: 900px;
  height: 550px;
  position: relative;
  overflow: hidden;
}

#MenuBgImg:hover {
  cursor: pointer;  
}
#MenuBgImg {

  width: 940px;
  height: 1150px;
  margin-top: -300px;
  margin-left: -30px;
}

#MenuBgImgCvr:hover {
  cursor: pointer;  
}

#MenuBgImgCvr {

  width: 902px;
  height: 550px;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  background-color: #3D3012;
}

#MenuCont:hover {
  cursor: pointer;  
}

#MenuCont {

  position: absolute;
  top: 5px;
  left: 0px;
  width: 900px;
  height: 540px;
  overflow: auto;

}
#MenuInnerCont:hover {
  cursor: pointer;  
}

#MenuInnerCont {

  margin-top: 10px;
  margin-left: 20px; 
} 


.MenuTitlePriceCont {

  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.MenuTitle {

  width: 600px;
  color: white;
  font-family: 'open-sans',sans-serif;


}

.MenuPrice {

  width: 50px;
  color: white;
  font-family: 'open-sans',sans-serif;

}

.MenuDisc {

  width: 600px;
  color: white;
  font-family: 'open-sans',sans-serif;
  text-indent: 20px;
  margin-left: 20px;


}

.MenuInfo {

  color: white;  
}


.MenuInfoIcon {

  margin-left: 20px;
  margin-bottom: 20px; 
}

.MenuSubSect {

  border: 1px solid #FFF;
  width: 855px;

  margin-top: 20px;
  margin-bottom: 20px;
}


.MenuSubTitle {

  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-family: 'open-sans',sans-serif;

}