/*@import url('googlefontsurl')*/
#PhotoGallery {
  background-image: url("http://1.design-milk.com/images/2014/12/Art-of-Plating-9-Noriyuki-Hamada-.jpg");
  width: 900px;
  height: 550px;
  padding-left: 1%;
  overflow: auto;
  position:absolute;
  margin-top: 17%;
}
.background {
	width: 900px;
	height:550px;
}
.steaks {
	height:180px;
	width:300px;
	border:2px solid white;
	margin-left: 10%;
}
.steaks:hover {
	transform: scale(1.50);
}
.text {
	overflow: auto;
}
