/*@import url('googlefontsurl')*/




#FoodClosedText {
/*Leave me here*/
}

#FoodTitleClosed {
  position: absolute;
  height: 100px;
  width: 500px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #fff;
  top: 250px;
  left: -185px;
  transform: rotate(-90deg);
  opacity: 1;
  transition: opacity 1s;
}

#FoodTitleOpen {
  opacity: 0;
  transition: opacity 1s;
}

/*------------------------------*/


#FoodOutterClosed:hover {
  cursor: pointer;  
}

#FoodOutterOpen {
  
  background-image:url(http://1.design-milk.com/images/2014/12/Art-of-Plating-9-Noriyuki-Hamada-.jpg);
  border: 1px solid #000;
  width: 900px;
  height: 550px;
  position: relative;
  overflow: auto;
  transition: width 2s;
}

#FoodInnerOpen {

  opacity: 1;
  transition: opacity 2s;
}

#FoodOutterClosed {

  background-image:url(http://1.design-milk.com/images/2014/12/Art-of-Plating-9-Noriyuki-Hamada-.jpg);
  border: 1px solid #000;
  width: 100px;
  height: 550px;
  position: relative;
  overflow: hidden;
  transition: width 2s;

}

#FoodInnerClosed {
  opacity: 0;
  transition: opacity 2s;

}




#PhotoGallery {
  background-image: url("http://1.design-milk.com/images/2014/12/Art-of-Plating-9-Noriyuki-Hamada-.jpg");
  width: 900px;
  height: 550px;
  padding-left: 1%;
  overflow: auto;
  position:absolute;
  margin-top: 17%;
}
.background {
	width: 900px;
	height:550px;
}
.steaks {
	height:180px;
	width:300px;
	border:2px solid white;
	margin-left: 10%;
}
.steaks:hover {
	transform: scale(1.50);
}
.text {
	overflow: auto;
}
